In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("city_day.csv")

In [3]:
# Checking for missing values
df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [4]:
df.drop(['AQI_Bucket','Date','City'],axis=1,inplace=True)

In [5]:
df.dropna(axis=0, inplace=True)

In [6]:
df.to_csv('data_na_drop.csv',index=False)